In [2]:
import json
import pandas as pd
import numpy as np

In [3]:
lst=[1,2,3,4,5]
a=pd.Series(lst)
b=pd.Series(data=['rohit','mohit'],index=[1,2])
pd.Series(lst).repeat(6)
pd.Series([1,2]).repeat([10,2]).reset_index(drop=True)
s=a.agg([min,max,sum])
print(s)
a.astype('float')
print(a[a.between(1,4)])

min     1
max     5
sum    15
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

In [4]:
with open(r"C:\Users\OM\OneDrive\Desktop\inventory\data.json",'r') as file:
    txt=file.read()
file.close()
data=json.loads(txt)
df=pd.DataFrame(data)
df=df.T
df
print(df.loc[::2,'name'])
print("--"*30)
print(df.iloc[[0,2,3,4],[0,2]])
print("--"*30)
df['price'].astype('int')
df.dtypes
del df['category']

df.describe()

1001            lichi
1003    pain reliever
1005       toothbrush
1007          mascara
1009            blush
1011             berr
Name: name, dtype: object
------------------------------------------------------------
               name           category
1001          lichi            grocery
1003  pain reliever             health
1004      dry pasta            grocery
1005     toothbrush  beauty & personal
------------------------------------------------------------

         name  price  quantity        date
count      11     11        11          11
unique     11     11         9          11
top     lichi    230        70  10/03/2021
freq        1      1         2           1

In [5]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
df.drop(['one'],axis=1,inplace=True)
df.dtypes
df.describe()

             two       three         four
count   4.000000    4.000000     4.000000
mean   25.000000  250.000000  2500.000000
std    12.909944  129.099445  1290.994449
min    10.000000  100.000000  1000.000000
25%    17.500000  175.000000  1750.000000
50%    25.000000  250.000000  2500.000000
75%    32.500000  325.000000  3250.000000
max    40.000000  400.000000  4000.000000

In [6]:
def _add_(i,j):
    return i+j
def seq(i):
    return i**2
def r(i):
    return i**0.5

df.pipe(_add_,10).pipe(seq).pipe(r)
df.apply(np.mean)
print(df.apply(r,axis=1))
print(df.reindex([1,2,3]))
print(df.reindex(columns=['four','two','one']))
print(df.rename(columns={'two':2,"three":3,"four":4},inplace=True,index={0:"a",1:"b",2:"c"}))
df

        two      three       four
0  3.162278  10.000000  31.622777
1  4.472136  14.142136  44.721360
2  5.477226  17.320508  54.772256
3  6.324555  20.000000  63.245553
   two  three  four
1   20    200  2000
2   30    300  3000
3   40    400  4000
   four  two  one
0  1000   10  NaN
1  2000   20  NaN
2  3000   30  NaN
3  4000   40  NaN
None

    2    3     4
a  10  100  1000
b  20  200  2000
c  30  300  3000
3  40  400  4000

In [10]:
cricket = {'Team'   : ['India', 'India', 'Australia', 'Australia', 'SA', 'SA', 'SA', 'SA', 'NZ', 'NZ', 'NZ', 'India'],
           'Rank'   : [2, 3, 1,2, 3,4 ,1 ,1,2 , 4,1,2],
           'Year'   : [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points' : [876,801,891,815,776,784,834,824,758,691,883,782]}
Df=pd.DataFrame(data=cricket)
Df

         Team  Rank  Year  Points
0       India     2  2014     876
1       India     3  2015     801
2   Australia     1  2014     891
3   Australia     2  2015     815
4          SA     3  2014     776
5          SA     4  2015     784
6          SA     1  2016     834
7          SA     1  2017     824
8          NZ     2  2016     758
9          NZ     4  2014     691
10         NZ     1  2015     883
11      India     2  2017     782

In [9]:
data=Df.groupby('Team').groups
data

{'Australia': [2, 3], 'India': [0, 1, 11], 'NZ': [8, 9, 10], 'SA': [4, 5, 6, 7]}

In [16]:
Data=Df.groupby(['Team','Year']).get_group(('Australia',2015))
print(Data)
print('--'*32)
data=Df.groupby('Team').sum()['Points'].sort_values(ascending=False)
print(data)
print('--'*32)
print(pd.DataFrame(data1))
for I in data1:
    print(type(I),I,len(I))
    print('--'*32)
print("--"*32)
print(data1.filter(lambda x: len(x) == 3 ))

        Team  Rank  Year  Points
3  Australia     2  2015     815
----------------------------------------------------------------
Team
SA           3218
India        2459
NZ           2332
Australia    1706
Name: Points, dtype: int64
----------------------------------------------------------------
           0                                                  1
0  Australia          Team  Rank  Year  Points
2  Australia ...
1      India       Team  Rank  Year  Points
0   India     2 ...
2         NZ     Team  Rank  Year  Points
8    NZ     2  201...
3         SA    Team  Rank  Year  Points
4   SA     3  2014 ...
<class 'tuple'> ('Australia',         Team  Rank  Year  Points
2  Australia     1  2014     891
3  Australia     2  2015     815) 2
----------------------------------------------------------------
<class 'tuple'> ('India',      Team  Rank  Year  Points
0   India     2  2014     876
1   India     3  2015     801
11  India     2  2017     782) 2
----------------------------------------------------------------
<class 'tuple'> ('NZ',    Team  Rank  Year  Points
8    NZ     2  2016     758
9    NZ     4  2014     691
10   NZ     1  2015     883) 2
----------------------------------------------------------------
<class 'tuple'> ('SA',   Team  Rank  Year  Points
4   SA     3  2014     776
5   SA     4  2015     784
6   SA     1  2016     834
7   SA     1  2017     824) 2
----------------------------------------------------------------
----------------------------------------------------------------
     Team  Rank  Year  Points
0   India     2  2014     876
1   India     3  2015     801
8      NZ     2  2016     758
9      NZ     4  2014     691
10     NZ     1  2015     883
11  India     2  2017     782

In [167]:
Df=pd.read_csv(r"C:\Users\OM\Downloads\Football.csv")
Df.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016

In [71]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  660 non-null    object
 1   League                   660 non-null    object
 2   Club                     626 non-null    object
 3   Player Names             660 non-null    object
 4   Matches_Played           660 non-null    int64
 5   Substitution             660 non-null    int64
 6   Mins                     660 non-null    int64
 7   Goals                    660 non-null    int64
 8   xG                       660 non-null    float64
 9   xG Per Avg Match         660 non-null    float64
 10  Shots                    660 non-null    int64
 11  OnTarget                 660 non-null    int64
 12  Shots Per Avg Match      660 non-null    float64
 13  On Target Per Avg Match  660 non-null    float64
 14  Year                     660 non-null    int64
dtypes: float64(4), int64(7), object(4)
memory usage: 77.5+ KB

In [169]:

Df.dropna(subset=['Club'],inplace=True)
print(Df.isnull().sum())
Df.to_csv('Number.csv')

Country                    0
League                     0
Club                       0
Player Names               0
Matches_Played             0
Substitution               0
Mins                       0
Goals                      0
xG                         0
xG Per Avg Match           0
Shots                      0
OnTarget                   0
Shots Per Avg Match        0
On Target Per Avg Match    0
Year                       0
dtype: int64

In [179]:
import pandas_profiling as pp
report = pp.ProfileReport(df)

ModuleNotFoundError: No module named 'pandas_profiling'

In [146]:
Df.describe([.80])
ds=Df['Goals']
Max=ds.max()
d=Df.loc[Df['Goals']==Max,['Country','Goals']]
print(d)

  Country  Goals
5   Spain     42

In [150]:
de=Df.copy()
de['year+100']=de['Year'] + 100
de

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year,year+100
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016,2116
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016,2116
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016,2116
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016,2116
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016,2116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,Netherlands,Eredivisie,(RZA),Haris Vuckic,23,2,2194,11,6.00,0.26,38,17,1.65,0.74,2020,2120
655,Netherlands,Eredivisie,(UTR),Gyrano Kerk,24,0,2155,10,7.49,0.33,50,18,2.20,0.79,2020,2120
656,Netherlands,Eredivisie,(AJA),Quincy Promes,18,2,1573,12,9.77,0.59,56,30,3.38,1.81,2020,2120
657,Netherlands,Eredivisie,(PSV),Denzel Dumfries,25,0,2363,7,5.72,0.23,45,14,1.81,0.56,2020,2120
659,Netherlands,Eredivisie,(PSV),Cody Gakpo,14,11,1557,7,4.43,0.27,38,15,2.32,0.92,2020,2120

In [166]:
print(de['Country'].unique())
print(de['Country'].nunique())
print(de['Country'].value_counts())
print(Df.isnull().sum())
Df['Club']=Df['Club'].fillna("hello")
Df.isnull()
Df[Df['Club']=='hello']

['Spain' 'Italy' 'Germany' 'England' 'Brazil' 'France' 'USA' 'Portugal '
 ' Netherlands']
9
Country
Italy           98
Germany         98
Spain           97
Brazil          81
England         79
France          60
USA             40
 Netherlands    39
Portugal        34
Name: count, dtype: int64
Country                    0
League                     0
Club                       0
Player Names               0
Matches_Played             0
Substitution               0
Mins                       0
Goals                      0
xG                         0
xG Per Avg Match           0
Shots                      0
OnTarget                   0
Shots Per Avg Match        0
On Target Per Avg Match    0
Year                       0
dtype: int64

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
10,Spain,La Liga,hello,Aduriz,27,5,2480,16,15.92,0.61,85,45,3.26,1.72,2016
51,Germany,Bundesliga,hello,Mario Gomez,32,1,2950,16,18.32,0.59,84,45,2.71,1.45,2016
82,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Robinho,26,4,2234,12,8.00,0.34,49,22,2.08,0.94,2016
83,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Kempes,19,7,1684,9,5.85,0.33,44,21,2.48,1.18,2016
85,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Bruno Rangel,19,12,2016,10,8.91,0.42,35,17,1.65,0.80,2016
89,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Grafite,29,2,2511,13,14.01,0.53,64,34,2.42,1.29,2016
92,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Sassa,13,13,1412,12,11.15,0.75,41,25,2.76,1.68,2016
96,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Kleber Gladiador,23,1,2143,9,8.35,0.37,50,23,2.22,1.02,2016
97,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Pottker,19,12,2007,14,8.66,0.41,61,25,2.89,1.18,2016
98,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Jonathan Copete,22,3,2147,10,8.14,0.36,37,17,1.64,0.75,2016
104,Spain,La Liga,hello,Rodrigo None,31,6,2770,16,15.45,0.53,92,38,3.16,1.30,2017
149,Germany,Bundesliga,hello,Sandro Wagner,18,7,1666,12,10.00,0.57,55,26,3.14,1.48,2017
164,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Luiz Fernando,21,7,1792,9,6.04,0.32,54,22,2.86,1.17,2017
171,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Dudu,23,3,1751,10,6.82,0.37,45,23,2.44,1.25,2017
175,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Henrique Dourado,32,0,2472,19,14.83,0.57,65,37,2.50,1.42,2017
176,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Andre,35,0,2931,16,14.81,0.48,88,34,2.85,1.10,2017
177,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Edigar Junio,21,5,1547,12,11.40,0.70,49,29,3.01,1.78,2017
178,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Junior Dutra,27,3,2022,9,10.43,0.49,75,25,3.52,1.17,2017
197,Spain,La Liga,hello,Charles,17,17,1861,14,13.91,0.71,63,30,3.22,1.53,2018
216,Italy,Serie A,hello,Stephan El Shaarawy,23,5,2213,11,7.22,0.31,70,30,3.00,1.29,2018
285,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Leandro Damiao,19,7,3236,10,13.28,0.39,67,27,1.97,0.79,2018
289,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Roger Guedes,11,1,1081,9,6.14,0.54,42,20,3.69,1.76,2018
290,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Leandro Pereira,26,8,2575,11,10.03,0.37,80,33,2.95,1.22,2018
341,Portugal,Primeira Liga,hello,Tiquinho Soares,20,10,1867,10,9.43,0.48,55,21,2.80,1.07,2019
344,Portugal,Primeira Liga,hello,Alex Telles,28,3,2732,11,8.05,0.28,39,17,1.36,0.59,2019
357,Portugal,Primeira Liga,hello,Fabio Abreu,27,7,2570,13,11.09,0.41,53,23,1.96,0.85,2019
359,Portugal,Primeira Liga,hello,Alex Telles,3,0,280,2,2.36,0.80,9,5,3.05,1.70,2019
360,Portugal,Primeira Liga,hello,Fabio Martins,29,0,2633,12,9.15,0.33,69,36,2.49,1.30,2019
369,Portugal,Primeira Liga,hello,Sandro Lima,29,3,2747,10,10.12,0.35,66,31,2.28,1.07,2019
389,Italy,Serie A,hello,Andreas Cornelius,17,9,1637,12,6.38,0.37,46,20,2.67,1.16,2019
460,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Dudu,34,2,3313,9,9.42,0.27,95,38,2.72,1.09,2019
471,Brazil,Campeonato Brasileiro SÃ©rie A,hello,Everaldo,33,0,3233,14,13.27,0.39,116,39,3.41,1.15,2019
614,England,Premier League,hello,Danny Ings,7,0,662,5,2.58,0.37,15,9,2.15,1.29,2020
658,Netherlands,Eredivisie,hello,Cyriel Dessers,26,0,2461,15,14.51,0.56,84,43,3.24,1.66,2020